<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "index" %}">AskMe</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="not_log">
                        <a class="nav-link active" aria-current="page" href="login.html">Login</a>
                    </li>
                    <li class="not_log">
                        <a class="nav-link" href="signup.html">Register</a>
                    </li>
                    <li class="logged">
                        <img class="avatar" src="">
                    </li>
                    <li class="logged_text">
                        <span class="nickname">Nickaname</span>
                        <a class="settings" href="settings.html">settings</a>
                        <a class="log_out" href="login.html">log out</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">ASK!</button>
                </form>
            </div>
        </div>
    </nav>
</header>
