{% load static %}

<div class="row question">
    <div class="col-2">
        <div><img class="question_avatar" src="{% static "img/some200.jpg" %}"></div>
        <div>
            <button type="button" class="btn btn-outline-danger">&#128077;</button>
            <span class="rating"> Likes:5</span>
            <button type="button" class="btn btn-outline-warning">&#128078;</button>
        </div>
    </div>
    <div class="col-10">
        <a class="question link" href="{% url "question" question.number %}">{{ question.title }}</a>
        <div class="text">{{ question.text }}
        </div>
        <div class="under question">
            <a class="answers" href="question.html">Answers (3)</a>
            <span class="tags">Tags:</span>
            <a href="tag_search.html">Help me</a>
            <a href="#">This is hard</a>
        </div>
    </div>

</div>
