<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Askme</title>
    <link rel="stylesheet" href="../static/css/vanilla.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">AskPupkin</div>

      <div class="search">
        <input class="search__input" type="text" />
        <button class="search__button">ASK!</button>
      </div>

      <div class="account">
        <div class="account__image">
          <img src="img.jpg" />
        </div>
        <div class="account__content">
          <div>Dr. Pepper</div>
          <div>
            <a href="/settings.html">Settings</a>
            <a href="/logout.html">Log out</a>
          </div>
        </div>
      </div>
    </header>

    <main class="container">
      <div class="heading">
        <h1>New Questions</h1>
        <a href="/hot.html">Hot Questions</a>
      </div>

      <div class="content">
        <section class="cards">
          <article class="card">
            <div class="card__side">
              <img src="img.jpg" alt="" />
              <input type="number" value="5" />
            </div>
            <div class="card__content">
              <div class="card__body">
                <h5 class="card__title">
                  <a href="/question.html">Question?</a>
                </h5>
                <div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                  aut corrupti, dolorum debitis harum pariatur laudantium
                  repellat sit illum magnam quo ab deleniti repellendus, quam
                  laboriosam molestiae tempora repudiandae ullam?
                </div>
              </div>
              <div class="card__footer">
                <a href="/question.html">answers (3)</a>
                <div class="card__tags">
                  <span>Tags</span>
                  <a href="/tag.html">tag</a><a href="/tag.html">tag</a>
                </div>
              </div>
            </div>
          </article>
          <article class="card">
            <div class="card__side">
              <img src="img.jpg" alt="" />
              <input type="number" value="5" />
            </div>
            <div class="card__content">
              <div class="card__body">
                <h5 class="card__title">
                  <a href="/question.html">Question?</a>
                </h5>
                <div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                  aut corrupti, dolorum debitis harum pariatur laudantium
                  repellat sit illum magnam quo ab deleniti repellendus, quam
                  laboriosam molestiae tempora repudiandae ullam?
                </div>
              </div>
              <div class="card__footer">
                <a href="/question.html">answers (3)</a>
                <div class="card__tags">
                  <span>Tags</span>
                  <a href="/tag.html">tag</a><a href="/tag.html">tag</a>
                </div>
              </div>
            </div>
          </article>
          <article class="card">
            <div class="card__side">
              <img src="img.jpg" alt="" />
              <input type="number" value="5" />
            </div>
            <div class="card__content">
              <div class="card__body">
                <h5 class="card__title">
                  <a href="/question.html">Question?</a>
                </h5>
                <div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                  aut corrupti, dolorum debitis harum pariatur laudantium
                  repellat sit illum magnam quo ab deleniti repellendus, quam
                  laboriosam molestiae tempora repudiandae ullam?
                </div>
              </div>
              <div class="card__footer">
                <a href="/question.html">answers (3)</a>
                <div class="card__tags">
                  <span>Tags</span>
                  <a href="/tag.html">tag</a><a href="/tag.html">tag</a>
                </div>
              </div>
            </div>
          </article>
        </section>
        <aside></aside>
      </div>
    </main>
  </body>
</html>
